/* Fonts */
@font-face {
	font-family: 'Muli';
  src: url('../fonts/Muli.ttf') format('truetype');
}

@font-face {
	font-family: 'Muli-Black';
	src: url('../fonts/Muli-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

/* Body */

body {
  font-family: 'Muli';
  color: #3e4854;
  margin: 0;
}

/* Texts */

.orange-text {
  font-family: 'MuliBlack';
  font-weight: bold;
  color: #e89220;
}

.no-padding {
  padding-top: 0px!important;
}

.grey-text {
  font-family: 'Playfair Display';
  font-size: 45px;
}

hr {
  background-color: #303030;
  height: 1px;
  border: none;
  margin-top: 15px;
}

/* Subnav/logo/titles */

.subnav {
  text-align: center;
}

.logo {
  width: 5%;
  height: auto;
}

.wavy {
  font-size: 40px;
  text-decoration: underline wavy #3e4854;
  text-underline-offset: 10px;
}

/* Navigation bar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}

/* Navigation bar links */

.navbar a {
  color: #3e4854;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid #e89220;
}

.navbar a:last-child {
  border-bottom: none;
  margin-left: 25px;
}

.navbar a:hover {
  color: #e89220;
}

/* Header */

.header {
  padding: 40px;
  text-align: center;
  position: relative;
}

.header img {
  width: 90%;
}

.box {
  width: 50%;
  height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text-right {
  z-index: 1;
  margin: 55px;
  padding: 3px;
}

.text-left span {
  font-size: 40px;
  text-align: center;
  color: #FFF;
  font-family: 'Muli-Black';
  text-transform: uppercase;
  background-color: #3e4854;
}

.text-right span {
  font-size: 40px;
  text-align: center;
  color: #e89220;
  font-family: 'Playfair Display';
  text-transform: uppercase;
  background-color: #FFF;
}

/* Searchbar */

.searchbar {
  width: 70%;
  background: #1976ba;
  padding: 12px;
  margin-top: -150px!important;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  margin: 8px 0;
}

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

input {
  min-width: 20px;
  padding: 8px;
  margin: 0 4px 0 0;
  border: none;
  height: 30px;
  order: 0;
  align-self: auto;
}

.sale {
  flex: 1 1 auto;
}

.type {
  flex: 1 1 auto;
}

.where {
  flex: 6 1 auto;
}

.km {
  flex: 0 1 auto;
}

.form-button {
  padding: 8px 16px;
  word-wrap: nowrap;
  background: #3e4854;
  color: #fff;
  border: none;
  order: 5;
  flex: 0 1 auto;
  align-self: auto;
}

.see-more {
  color: #FFF;
  font-family: 'Muli-Black';
  font-size: 12px;
}

/* Column container */

.row {
  display: flex;
  flex-wrap: wrap;
}

.space {
  justify-content: space-between;
  flex-wrap: nowrap!important;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 30px;
  padding-top: 30px;
}

/* Sections */

.services {
  text-align: center;
}

/* Columns*/

.two-equal {
  display: flex;
  flex: 50%;
  padding: 20px;
}

.three-equal {
  flex: 33,33%;
  padding: 20px;
}

/* Images & icons */

.img-left {
  width: 100%;
  padding: 20px;
  margin-left: 150px;
}

.img-right {
  width: 100%;
  padding: 20px;
  margin-right: 100px;
}

.icon-format {
  width: 80px !important;
  height: 80px !important;
}

.circle-icon {
  color: #3e4854;
  background: #FFF;
  padding: 15px;
  border-radius: 50%;
}

.circle-icon-dark {
  color: #FFF;
  /* background: none!important; */
  padding: 15px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
}

/* Cards */

.card-right {
  font-family: Muli;
  width: 80%;
  height: 80%;
  background-color: #FFF;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: auto auto auto -100px ;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-left {
  font-family: Muli;
  width: 80%;
  height: 80%;
  background-color: #FFF;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: auto -100px auto auto ;
  z-index: 1;
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Buttons */

.blue-btn {
  background-color: #1976ba;
  padding: 8px 16px;
  word-wrap: nowrap;
  color: #fff;
  border: none;
  align-self: auto;
}

/* Footer */

.footer {
  padding: 20px;
  text-align: center;
  background: #3e4854;
  color: #FFF;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  color: #808080;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

/* Responsive layout */

@media screen and (max-width: 992px) {
  .row, .navbar {
    flex-direction: column;
  }
  .space {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header {
    padding: 0px!important;
  }
  .searchbar {
    margin-top: -100px!important;
    width: 90%;
  }
  .offers {
    margin-top: 50px;
  }
  .text-right {
    margin: 25px;
  }
  .text-left span {
    font-size: 20px;
  }
  .text-right span {
    font-size: 20px;
  }
  .orange-text {
    padding-top: 0px;
  }
  .wavy {
    font-size: 30px;
  }
  .img-left, .img-right {
    margin-left: 0px;
    margin-right: 0px;
  }
  .card-right, .card-left {
    margin: auto;
  }
}